<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.ribot.androidboilerplate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BoilerplateApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AnimStyle">
        <activity
            android:name=".ui.activity.ExampleActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>

        <service android:name=".data.SyncService" />

        <receiver
            android:name=".data.SyncService$SyncOnConnectionAvailable"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.LauncherActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.PriceListActivity" />
        <activity android:name=".ui.activity.IntelligentPlaceOrderActivity" />
        <activity android:name=".ui.activity.OrderDetailActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity android:name=".ui.activity.OrderCommitSuccessActivity" />
        <activity android:name=".ui.activity.SelfHelpPlaceOrderActivity" />
        <activity android:name=".ui.activity.PlaceOrderProductListActivity" />
        <activity android:name=".ui.activity.OrderListActivity" />
        <activity android:name=".ui.activity.ReturnOrderListActivity" />
        <activity android:name=".ui.activity.UserInfoActivity" />
        <activity android:name=".ui.activity.StatementAccountActivity" />
        <activity android:name=".ui.activity.MakeInventoryActivity" />
        <activity android:name=".ui.activity.MakeInventoryDetailActivity" />
        <activity android:name=".ui.activity.ProcurementActivity" />
        <activity android:name=".ui.activity.PlaceOrderProductListImproveActivity"></activity>
    </application>

</manifest>